*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.deploy/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.DS_Store
/public/storage
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db
/certbot/conf/
/certbot/work/
/certbot/logs/
/certbot/www/*
!/certbot/www/.gitkeep
/docker/nginx/active-ssl.conf
