@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';

@theme {
    --font-sans: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';
}

@layer base {
    a,
    button,
    [role='button'],
    summary,
    select,
    input[type='checkbox'],
    input[type='radio'],
    input[type='file'],
    input[type='submit'],
    input[type='button'],
    input[type='reset'] {
        cursor: pointer;
    }

    button:disabled,
    input:disabled,
    select:disabled,
    textarea:disabled {
        cursor: not-allowed;
    }
}
